@page "/dashboard1"
@rendermode InteractiveServer
<div class="row">"Total Devices " @SessionState.Device.TotalDevices</div>
<div class="row">"Running Devices " @SessionState.Device.RunningDevices</div>

@code {

}
