@page "/user"
<h3>UserInfo</h3>
<div class="cen">
    <h3 class="custom-heading">Coming Soon...</h3>
    <p>We're working hard to bring you something amazing. Stay tuned!</p>
</div>

<style>
    .cen {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
